.bear-container .bear-container-period {
  display: flex;
  gap: 1em;
  align-items: center;
  align-content: flex-start;
  justify-content: start;
  margin-bottom: 16px;
}

.bear-container .bear-container-period .bear-container-period-input {
  width: 10rem;
  margin-left: 0;
  margin-right: 0;
}