.button-wrapper button {
  color: #CC9544;
}

.button-small {
  padding: 0.25em 0.65em;
  font-size: 0.8em;
}
.button-normal {
  padding: 0.6em 1.2em;
  font-size: 1em;
}
.button-large {
  padding: 0.8em 2em;
  font-size: 1.35em;
}

.button-danger {
  border: 1px solid rgb(140, 10, 10);
}
.button-danger:hover {
  border-color: red;
}

@media (prefers-color-scheme: light) {
  .button-wrapper button {
    color: #213547;
  }
}